{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header-title %}Home{% endblock %}

{% block content %}

<div id="home-grid">
    <div id="top-recommendations" class="home-grid-item">
        <h1 class="home-header">Top Recommendations</h1>
        <table id="home-recommendation-table">

        </table>
    </div>
    <div id="top-genres" class="home-grid-item">
        <h1 class="home-header">Top Genres</h1>
        <table id="home-genre-table">

        </table>
    </div>
</div>



{% endblock %}